<div class="__header">
    
    <div class="__logo-container">
        <div class="__logo"><img src="assets/logo.svg" alt=""></div>
        <p class="hr">|</p>
    </div>
    <div class="__company-logo"><p>Client Logo</p></div>
    <div class="__user-profile">
        <div class="__picture" ><img src="assets/picture-profile.png" alt=""></div>
        <div>
            <div class="__name"><p>Esther Howard</p></div>
            <div class="__id"><p>856942153746548</p></div>
        </div>
        <div class="__drop-down-btn"><img src="assets/Arrow-Down.svg" alt="" (click)="toggleMenu()"></div>
    </div>
</div>
<div class="__logout-btn">
    <div class="btn-container">
        <img class="on-pic" src="assets/on.svg" alt="">
        <p class="__logout">Déconnexion</p>
    </div>
</div>
